<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Weberia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p th:text="'Result of tuProlog expression: ' + ${result2p}" />
    <p th:text="'Result of reading properties: ' + ${resultProps}" />
</body>
</html>
